*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
}
.contenedor{
    margin-top: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 2.4rem;
    border: green 2px solid;
    background-color: rgb(65, 44, 13);
}
.contenedor p{
    font-size: 1.2rem;
}
.contChat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15%;
}
input{
    background-color: black;
    width: 85%;
    font-size: 1rem;
    padding: 10px;
}
input:focus{
    outline: none;
}